/**
for scrollbar
*/
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 10px;
    border: 1px solid #edf2f7;
}

::-webkit-scrollbar-track {
    background-color: #edf2f7;
    border-radius: 10px;
}

/* Hover effect for the scrollbar */
::-webkit-scrollbar:hover {
    width: 12px;
    /* Increase the width on hover */
    height: 12px;
}

.bg_danger_red {
    background-color: red;
}

.bg_danger_green {
    background-color: rgba(17, 255, 0, 0.675);
}